/* Ekran genişliği 600 pikselden küçükse */
@media screen and (max-width: 600px) {
    /* Özel stil kuralları */
    body {
        font-size: 14px;
    }
    
    
}

.navbar{
    flex-wrap: nowrap;
    --bs-navbar-padding-y: 0rem;

}

.box {
    background-color: lightblue;
    min-height: 30rem;
}

.basic-container{
    max-height: 240px; /* Container'ın maksimum yüksekliği*/
}

.navbar-text {
    font-size: 18px; 
    color: white; 
    padding-bottom: 0rem;
}


body {
    padding-top: 7rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* İki sütun */
    gap: 10px; /* Boşluk */
}

.specific-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px; /* İsteğe bağlı: Sütunlar arasındaki boşluk */
    overflow-y: auto; /* Dikey kaydırma*/
    max-height: 240px; /* Container'ın maksimum yüksekliği*/
    padding: 20px;
}
.container{

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.page-content {
    margin-top: 56px; /* Navbar'ın yüksekliği kadar bir üst margin ekleyin */
    /* Eğer navbar'ın yüksekliği sabit değilse, bu değeri navbar'ın yüksekliğiyle değiştirmelisiniz */
}

input[type="text"],
input[type="email"] {
    width: 10rem; /* input alanı genişlik ayarı */

}

select {
    width: 10rem; /* Genişlik ayarı */
}
